Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0

In [46]:
import pandas as pd

In [69]:
rating = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [84]:
new_table = rating[rating['rating'] == 5.0].merge(movies, on = 'movieId')[['title', 'rating']]
title_max_5_stars = new_table.groupby('title').count().sort_values('rating', ascending=False).head(1)
title_max_5_stars

                                  rating
title
Shawshank Redemption, The (1994)     153

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
df = pd.read_csv('power.csv')

In [86]:
filt = df[ (df['country'] == 'Latvia') | (df['country'] == 'Lithuania') | (df['country'] == 'Estonia') & 
          (df['category'] == 4) | (df['category'] == 21) | (df['category'] == 12) & 
          (df['year'] > 2005) & (df['year'] < 2010) & (df['quantity'] > 0)]['quantity']

total_consumption = filt.sum()
total_consumption

2119565684.6301854

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [90]:
table = pd.read_html('https://fortrader.org/quotes')[1]
table

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть (BRENT) Курс нефти сегодня,43.490,-0.16,-0.370,NaN
1,Нефть (WTI) Цены на нефть (WTI),40.310,0.03,0.070,NaN
2,Сахар котировки на сахар,12.630,11.27,828.680,NaN
3,Газ Цена на газ,1.855,0.01,0.542,NaN